.dogs-list {
  width: 100%;
  margin-top: 3em;
  font-family: sans-serif;
  &__head {
    background-color: #f0ebaa;
    th {
      padding: 10px;
    }
  }
  &__body {
    background-color: #f5e4f3;
    td {
      text-align: center;
      img {
        max-height: 6em;
      }
    }
  }
}
